script(type='text/javascript')
 | var card_group1 = !{grp1}                                                                                          
 | var group="#{grpid}"
 | var username="#{user}"                                                                                             
 | var card_group2 = !{grp2}   
 | var card_group3 = !{grp3}   
 | var card_group4 = !{grp4}   
 | var card_group5 = !{grp5}   
 | var card_group6 = !{grp6}   
 | var card_group7 = !{grp7}   
include game_summary.html