script(type='text/javascript')
  
 | var tableid="#{tableid}";
 | var table_name="#{table_name}";
 | var game_type="#{game_type}";
 | var point_value="#{point_value}";
 | var loggeduser="#{loggeduser}";
 | var min_entry="#{min_entry}";
 | var account_bal="#{user_account_bal}";
 | var player_gender="#{player_gender}";
 | var user_id="#{user_id}";
 | var game="#{game}";
 | var table_status="#{table_status}";
 | var poolamount="#{poolamount}";
include ../../two-player-game/rummy-game.php 