script(type='text/javascript')
  
 | var tournamentId="#{tournament_id}";
 | var tournament_title="#{tournament_title}";
 | var loggeduser="#{loggeduser}";
 | var player_gender="#{player_gender}";
 | var user_id="#{user_id}";
include ../../six-player-game/rummy-game.php 